<head>
    <title>/tf2g/ Frag Ready</title>
    <meta charset="utf-8">
    <link rel="icon" href="pottis_small.ico">
    <link rel="stylesheet" type="text/css" href="index.css">
    <script type="text/javascript" src="index.js"></script>
</head>

<body>
<div
    class="overlay"
    id="overlay-{{#if enabled.unready}}ready{{/if}}{{#if enabled.ready}}unready{{/if}}"
>
    <h1>Hello /tf2g/!</h1>
    <form action="/">
    <p id="status"><span id="count">{{readiesCount}}</span> /tf2g/(s) are ready to frag right now! <input type=submit value="Refresh"></p>
    </form>
    <noscript>
        <p>Javascript is required for a hearbeat that runs once every five minutes, timing you out if it fails.</p>
        <p>The code is tiny and FOSS (licensed under WTFPL, like the rest of this website); if you're blocking javascript for privacy/security, inspect it yourself then unblock it to avoid getting timed out every five minutes.</p>
        <p>If you aren't using JS for some other reason (e.g. you browse everything you can using Links, and refuse to use a more modern browser like edbrowse), let me know in the thread and I'll see if I can add some other options.</p>
    </noscript>

    <div id="readyform">
        <form action="/readyup" method="post">
            <input
                type=submit
                id=ready
                value="Ready to frag!"
                {{#unless enabled.ready}}disabled{{/unless}}
            >
        </form>
    </div>
    <div id="unreadyform">
        <form action="/unready" method="post">
            <input
                type=submit
                id=ready
                value="Fragging time over."
                {{#unless enabled.unready}}disabled{{/unless}}
            >
        </form>
    </div>

    <footer>
    <a href="https://gitlab.com/emndc8549phnxel/tf2gfragready">Source code</a>
    <a href="about.html">About</a>
    </footer>
</div>
</body>
