<head>
    <title>About: /tf2g/ Frag Ready</title>
    <link rel="stylesheet" type="text/css" href="index.css">
</head>

<body>
<h1>About</h1>
<h2>What's this?</h2>
<p>This is a simple tool for the thread to coordinate fragging. If you don't know what thread, you probably don't need to use this.</p>
<p>Otherwise, just mark yourself ready, and use the info to decide when to post servers.</p>
<h2>How does this work</h2>
<p>It's literally two buttons, but for the sake of any boomers in the tread, you click on the green button to increment the counter for everyone, and you can click on the red button to un-mark yourself from being ready to frag.</p>
<p>To get an up-to-date count, refresh the page.</p>
<p>The background is a quick indicator of your current state, if it's green that means you've set yourself as ready to frag.</p>
<p>It'll also time you out after five minutes if you close the page, so there's no need to always remember to unready when you go to sleep or leave or something.</p>
<h2>Is this botnet? Will it install a virus? Does it send my browsing history to Facebook?</h2>
<p>The entire thing is licensed under <a href="http://www.wtfpl.net/txt/copying/">WTFPL.</a></p>
<p>It sets a cookie that expires in 5 minutes, to keep track of who's "ready". (The cookie gets refreshed periodically, that's how the timeout works.) Every time you become unready (either manually or by timing out), the ID is deleted from the server, and next time you click on Ready an entirely new random ID is generated. No logs are kept on the server.</p>
</body>
