body {
    background-image: url('pottis_bg5.png');
    text-align: center;
}

#status {
    background-color: white;
    padding: 10px;
}

input {
    font-size: x-large;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    background-color: rgb(245, 245, 245);
}

input:disabled {
    border-color: darkgrey;
}

p > input {
    font-size: large;
    margin-left: 5;
    border-width: 1.5px;
}

#count {
    font-size: 150%;
    border-style: solid;
    border-width: 1.5px;
    padding: 4px;
}

#readyform {
    background-color: lightgreen;
    padding: 20 20 10 20;
    width: 40%;
    margin: 0 auto;
}

#unreadyform {
    background-color: lightcoral;
    padding: 20 20 10 20;
    width: 40%;
    margin: 0 auto;
}

.overlay {
    width: 50%;
    height: 90%;
    margin: 0 auto;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
}

#overlay-ready {
    background-color: rgba(144, 238, 144, 0.2);
    border-color: rgba(144, 238, 144, 1);
}
#overlay-unready {
    background-color: rgba(240, 128, 128, 0.2);
    border-color: rgba(240, 128, 128, 1);
}

footer {
    position:fixed;
    left: 0px;
    bottom:10px;
    width: 100%;
}
footer > a {
    padding: 10px;
}
